[Unit]
Description=RMT agent auto startup
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/bin/bash -c 'RMT_CONFIG=/opt/adlink/rmt/rmt.conf /opt/adlink/rmt/rmt-agent'
RemainAfterExit=yes

[Install]
WantedBy=default.target
